:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-900: hsl(0, 0%, 24%);

    --ff-base: 'Montserrat', sans-serif;

    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
}

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-400);
}

main {
    display: flex;
    gap: 4rem;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

h3 {
    font-weight: var(--fw-600);
    font-size: 1rem;
}